@page "/aboutproject"

<PageTitle>About Project</PageTitle>

<div class="article"
    <div class="headingcontainer">
        <img src="/icons/aboutproject.svg" class="aboutprojectimg"/><h1>About Project</h1>
    </div>
<p1>Pellentesque tincidunt lectus in purus ullamcorper, in bibendum mi aliquam. Donec orci neque, suscipit a bibendum non, elementum eu ligula. Nunc bibendum sem vel purus vulputate, id tempor erat finibus. Vestibulum justo nisl, laoreet sit amet velit sed, pretium interdum felis. Nullam dignissim mattis elementum. In sit amet auctor elit. Sed nec mattis lectus, ut sagittis diam. Duis nulla libero, sollicitudin quis condimentum ac, consequat ut odio. Suspendisse risus diam, porta sed bibendum ac, mattis nec justo. Phasellus malesuada imperdiet odio, sed dictum magna porttitor eget. Mauris ornare felis sem, vitae auctor turpis rutrum ac. Donec malesuada enim egestas massa dapibus ullamcorper ut nec ex. Ut in venenatis metus. Nullam congue id ante eu hendrerit.</p1>
<p1>Fames laoreet natoque platea potenti ante. Pulvinar tellus nulla mus phasellus primis tristique netus. Justo litora laoreet vehicula dis aptent eu; pretium nisl. Placerat dis sapien himenaeos lorem ac. Tortor tortor porta pulvinar est lectus adipiscing. Hendrerit sollicitudin efficitur luctus cubilia elementum at tempor proin consequat. Arcu aenean dapibus pellentesque tempor habitant. Tempor pharetra ac, etiam suspendisse penatibus facilisi at.</p1>
</div>

