@page "/aboutproject"
@rendermode InteractiveAuto

<PageTitle>About Project</PageTitle>

<div class="article">
    <div class="headingcontainer">
        <img src="/icons/aboutproject.svg" class="aboutprojectimg"/><h1>About Project</h1>
    </div>

    <p>I developed this project to complement the other C# projects in my Multiverse portfolio, with a particular focus on web development skills. My journey back into programming has centered around the .NET framework, and choosing Blazor for this project allowed me to fully leverage my existing knowledge of C#.</p>
    <p>One of the aspects I particularly enjoy about Blazor is the ability to use C# instead of traditional JavaScript frameworks like Angular or Electron. While JavaScript is a powerful and widely-used tool in web development, I’ve found that working with C# provides a more consistent and robust experience for me personally. The unified syntax across my projects has streamlined my workflow and reduced the learning curve, enabling me to focus on building features rather than navigating the nuances of multiple languages.</p>

    <CollapsibleSection Title="Challenges Faced During Development">
        <p>Your text about challenges here...</p>
    </CollapsibleSection>

    <CollapsibleSection Title="Lessons Learned">
        <p>Your text about lessons learned here...</p>
    </CollapsibleSection>

    <CollapsibleSection Title="Opportunities for Improvement">
        <p>Your text about opportunities for improvement here...</p>
    </CollapsibleSection>
</div>
