@page "/aboutproject"
@rendermode InteractiveAuto

<PageTitle>About Project</PageTitle>

<div class="article">
    <div class="headingcontainer">
        <img src="/icons/aboutproject.svg" class="aboutprojectimg"/><h1>About Project</h1>
    </div>

    <p>I developed this project to complement the other C# projects in my Multiverse portfolio, with a particular focus on web development skills. My journey back into programming has centered around the .NET framework, and choosing Blazor for this project allowed me to fully leverage my existing knowledge of C#.</p>
    <p>This project is a work in progress and is being published in its current state to demonstrate what I’ve accomplished so far. While many features are not yet fully implemented or functional, I hope that what is currently available provides a clear snapshot of what I’ve learned and worked on up to this point. Thank you for taking the time to view my progress!'</p>
    <CollapsibleSection Title="Challenges Faced During Development (In Progress)">
        <p>Your text about challenges here...</p>
    </CollapsibleSection>

    <CollapsibleSection Title="Lessons Learned (In Progress)">
        <p>Your text about lessons learned here...</p>
    </CollapsibleSection>

    <CollapsibleSection Title="Opportunities for Improvement (In Progress)">
        <p>Your text about opportunities for improvement here...</p>
    </CollapsibleSection>
</div>
