@page "/"

<PageTitle>Blazor Demo</PageTitle>

<div class="article">
    <span class="article-normal">
        <div class="headingcontainer">
            <img src="/pfp-s-modified.png" class="profileimg" /><h1>Hi, I'm Clay Anderson</h1>
        </div>
        <p1>Born and raised in Colorado, I’ve been a tech enthusiast for as long as I can remember. Around my tenth birthday, I was gifted a relic of a computer that my neighbor had kept in storage—a Compaq Presario 5000. That machine became my playground, introducing me to the world of programming with MIT’s Scratch while I tinkered with any old tech I could get my hands on.</p1>
        <p1>My curiosity was insatiable growing up, much to the dismay of my school’s IT admins, who got to know me a little too well as the ringleader of my peers experimenting with systems better left alone. When college came around, I was inspired to pursue a degree in science education, leaving my love for tech as just a hobby. But life had other plans, and financial constraints led me to pause my studies and take on the role of assistant manager at a large retailer. I gained valuable insights into team and project management in this role, but I also realized it wasn’t what I wanted to do for the rest of my life.</p1>
        <p1>When I discovered the opportunity to enter the tech field outside of traditional academia through hands-on apprenticeship programs like those offered by Multiverse, I jumped at the chance. Lately, I’ve been focused on creating projects like this one to showcase my skills as a candidate. It feels like I’m learning to program all over again, but I’m having a blast picking up new skills and knowledge along the way.</p1>
        <p1 style="padding-bottom:5rem;">When I’m not buried in code as of late, you’ll find me exploring the mountains, skateboarding, or jumping into mosh pits—because life’s all about balance, right?</p1>
    </span>
    <span class="article-thin">
        <div class="headingcontainer">
            <img src="/pfp-s-modified.png" class="profileimg" /><h1>Hi, I'm Clay <br>Anderson<br /> </h1>
        </div>
        <p1>Born and raised in Colorado, I’ve been a tech enthusiast for as long as I can remember. Around my tenth birthday, I was gifted a relic of a computer that my neighbor had kept in storage—a Compaq Presario 5000. That machine became my playground, introducing me to the world of programming with MIT’s Scratch while I tinkered with any old tech I could get my hands on.</p1>
        <p1>My curiosity was insatiable growing up, much to the dismay of my school’s IT admins, who got to know me a little too well as the ringleader of my peers experimenting with systems better left alone. When college came around, I was inspired to pursue a degree in science education, leaving my love for tech as just a hobby. But life had other plans, and financial constraints led me to pause my studies and take on the role of assistant manager at a large retailer. I gained valuable insights into team and project management in this role, but I also realized it wasn’t what I wanted to do for the rest of my life.</p1>
        <p1>When I discovered the opportunity to enter the tech field outside of traditional academia through hands-on apprenticeship programs like those offered by Multiverse, I jumped at the chance. Lately, I’ve been focused on creating projects like this one to showcase my skills as a candidate. It feels like I’m learning to program all over again, but I’m having a blast picking up new skills and knowledge along the way.</p1>
        <p1 style="padding-bottom:5rem;">When I’m not buried in code as of late, you’ll find me exploring the mountains, skateboarding, or jumping into mosh pits—because life’s all about balance, right?</p1>
    </span>
</div>





