.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height:auto;
    width:100vw;
    overflow-y:auto;
}

main {
    margin-left: auto;
    margin-right:auto;
    overflow-y:auto;
    width:100vw;
}

.content {
    padding-left:3%;
    padding-right:3%;
    padding-top:3%;
}

.sidebar {
    background-image: linear-gradient(180deg, #013220 0%, #8F9779 100%);
}

.bottom-row {
    background-color: rgba(0,0,0,.2);
    backdrop-filter: blur(7px); /* Frosted glass effect */
    box-shadow: 0px 0px 50px 7px #212529 inset; /* Shadow Text*/
    margin-top: 5vh;
    justify-content: flex-end;
    height: 5vh;
    width: 100vw;
    align-items: center;
}

@media (max-width: 960px) {
    .bottom-row .large-content {
        text-align:left;
        display: none;
    }
    .bottom-row .small-content {
        display: flex;
    }
}

@media (min-width: 960px) {
    .bottom-row .large-content {
        display: block;
        width: calc(100vw - 250px);
        height: 5vh;
        text-align: left;
        padding-left:1rem;
    }
    .bottom-row .small-content {
        display: none;
    }
}

    .bottom-row ::deep a, .bottom-row ::deep .btn-link {
        white-space: nowrap;
        text-decoration: none;

    }

    .bottom-row ::deep a:hover, .bottom-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .bottom-row ::deep a:first-child {
        text-overflow: ellipsis;
    }

    @media (max-width: 640.98px) {
        .bottom-row {
            justify-content: space-between;
            width: 100vw;
        }

            .bottom-row ::deep a, .bottom-row ::deep .btn-link {
                margin-left: 0;
            }

        .bottom-row {
            /*margin-top:auto;*/
        }

 
    }

    @media (min-width: 641px) {
        .page {
            flex-direction: row;
            position: relative;
        }

        .sidebar {
            width: 250px;
            height: 100vh;
            position: sticky;
            top: 0;
        }

        .bottom-row {
            width: calc(100vw - 250px);
            top: 0;
            left: 250px;
        }

            .bottom-row.auth ::deep a:first-child {
                flex: 1;
                text-align: right;
                width: 0;
            }
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

        #blazor-error-ui .dismiss {
            cursor: pointer;
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;
        }
