@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
        <div class="bottom-row" style="position: absolute;bottom: 0;margin-top: auto;">
            <span class="large-content"><a href="https://github.com/letivalo/BlazorProject" target="_blank" style="right:42%;align-items:start;position:relative;line-height:1em;top:1vh;text-align:left;">Project GitHub/License</a></span>
            <span class="small-content"><a href="https://github.com/letivalo/BlazorProject" target="_blank" style="margin-right: auto;margin-left: 0;position:relative; line-height:1em; top:1vh;">Project GitHub/License</a></span>
            
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
