@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>

        <footer class="bottom-row">
                <img src="/icons/github-mark-white.png" class="githubimg" />
                <a href="https://github.com/letivalo/BlazorProject" target="_blank" class="githublink">
                    Project GitHub/Licence
                    </a>
                <a href="https://www.instagram.com/c1ay.photography/" target="_blank">
                    <img src="/icons/Instagram_Glyph_White.png" class="linkimgs" />
                    </a>
                <a href="https://www.linkedin.com/in/c1ay-anderson/" target="_blank">
                    <img src="/icons/LI-In-Bug.png" class="linkimgs" />
                    </a>
                <a href="mailto:letivalo.dev@tuta.io" target="_blank">
                    <img src="/icons/mail.png" class="linkimgs" />
                    </a> 
        </footer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
