.bottom-row {
    background-color: rgba(0,0,0,.2);
    backdrop-filter: blur(7px); /* Frosted glass effect */
    box-shadow: 0px 0px 50px 7px #212529 inset; /* Shadow Text*/
    justify-content: flex-start;
    height: 5vh;
    width: calc(100vw - 250px);
    text-align:left;
    position: absolute;
    top:95vh;
    bottom: 0;
}

@media(max-width:640px){
    .bottom-row{
        width:100vw;
        top:96.6vh;
    }
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height:auto;
    width:100vw;
    overflow-y:auto;
}

main {
    margin-left: auto;
    margin-right:auto;
    overflow-y:auto;
    width:100vw;
}

.content {
    padding-left:3%;
    padding-right:3%;
    padding-top:3%;
}

.sidebar {
    background-image: linear-gradient(180deg, #013220 0%, #8F9779 100%);
}


.linkimgs{
    width:1.5rem;
    margin-right:1rem;
    position:relative;
    float:right;
    top:0.4rem;
}

.githubimg {
    float:left;
    width: 1.5rem;
    margin-right: 0.6rem;
    position: relative;
    left:1rem;
    top: 0.4rem;
}

.githublink {
    align-items: start;
    position: relative;
    line-height: 5vh;
    padding-left:1.2rem;
    text-align: left
}

.bottom-row ::deep a, .bottom-row ::deep .btn-link {
    white-space: nowrap;
    text-decoration: none;
}

.bottom-row ::deep a:hover, .bottom-row ::deep .btn-link:hover {
    text-decoration: underline;
}

.bottom-row ::deep a:first-child {
    text-overflow: ellipsis;
}



    @media (min-width: 641px) {
        .page {
            flex-direction: row;
            position: relative;
        }

        .sidebar {
            width: 250px;
            height: 100vh;
            position: sticky;
            top: 0;
        }
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

        #blazor-error-ui .dismiss {
            cursor: pointer;
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;
        }
