@media (min-width:960px) {
    /* Article (For Scrolling)*/
    .article {
        display: flex;
        flex-direction: column;
        padding: 3%;
        height: 87vh;
    }

        .article h1 {
            position: relative;
            top: 0.6em;
        }

    /* Heading Container */
    .headingcontainer {
        width: auto;
        height: auto;
    }

        /* Heading Txt */
        .headingcontainer h1 {
            color: #ecf0f1;
            font-weight: 600;
            text-align: left;
        }

        /* Image */
        .headingcontainer .aboutprojectimg {
            float: left;
            padding-right: 3%;
            width: 12em;
        }

    /* P1 */
    main p {
        color: #bdc3c7;
        font-size: 19px;
        padding-bottom: 1rem;
        text-align: left;
        padding-left: 10em;
        padding-right: 3vh;
        position: relative;
        top: -2.8em;
        margin-bottom: 0px;
    }
}

@media (max-width: 960px) {
    /* Article (For Scrolling)*/
    .article {
        display: flex;
        flex-direction: column;
        padding: 3%;
        height: 87vh;
    }

        .article h1 {
            position: relative;
            top: 2.5rem;
        }

    /* Heading Container */
    .headingcontainer {
        width: auto;
        height: auto;
    }

        /* Heading Txt */
        .headingcontainer h1 {
            color: #ecf0f1;
            font-weight: 600;
            text-align: left;
        }

        /* Image */
        .headingcontainer .aboutprojectimg {
            float: left;
            padding-right: 3%;
            width: 12em;
        }
}
