@page "/demo"
@rendermode InteractiveAuto

<PageTitle>Project Demo</PageTitle>

<h1>Project Demo</h1>
<p1>This page is loaded in InteractiveAuto on the client side. The demo project is a small to-do list application demonstrating user interaction and database operations.</p1>

@code {

}
