@media (min-width:960px) {
    /* Article (For Scrolling)*/
    .article {
        display: flex;
        flex-direction: column;
        height: 87vh;
    }

        .article h1 {
            position: relative;
            top: 0.6em;
        }

        .article h3 {
            position: relative;
            top: 1rem;
            font-family: 'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
            line-height: 1.5em;
            word-spacing:-0.1rem;
        }

    /* Heading Container */
    .headingcontainer {
        width: auto;
        height: auto;
    }

        /* Heading Txt */
        .headingcontainer h1 {
            color: #ecf0f1;
            font-weight: 600;
            text-align: left;
        }
        .headingcontainer h3 {
            color: #ecf0f1;
            text-align: left;
        }

        /* Image */
        .headingcontainer .aboutprojectimg {
            float: left;
            padding-right: 3%;
            width: 10rem;
        }

    /* List */
    .page .article ul {
        position:relative;
        top:1rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-bottom:1rem;
    }

    .page main .article input[type=text] {
        background-color: rgba(127,140,141,0.29);
        color: rgb(236, 240, 241);
        background-size: auto;
        outline: none;
        width: 60rem;
    }

    .createTask{
        background-color: rgba(127,140,141,0.29);
        color: rgb(236, 240, 241);
        background-size: auto;
        outline:none;
        width:60rem;
    }

    .page main button {
        position:relative;
        background-color: rgba(236,240,241,0.38);
        color: #ecf0f1;
        border-radius:50px;
        width:8rem;
        left:61rem;
        top:-1.8rem;
    }

        /* P1 */
        main p1 {
        color: #bdc3c7;
        font-size: 19px;
        padding-bottom: 19px;
        text-align: left;
        padding-left: 10em;
        padding-right: 3vh;
        position: relative;
        top: -2.8em;
    }
}

@media (max-width: 960px) {

}
